/* User Profile */
.user-profile {
    position: relative;
    display: inline-block;
}

.profile-btn {
    background: #fff;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #6a0dad;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 200px;
    list-style: none;
    padding: 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu li a,
.dropdown-menu li button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #6a0dad;
    text-align: center;
    cursor: pointer;
}

.dropdown-menu li a:hover,
.dropdown-menu li button:hover {
    background-color: #f1f1f1;
}

#logoutBtn {
    background: transparent;
    border: none;
    color: #6a0dad;
    cursor: pointer;
    font-size: 16px;
}

#logoutBtn:hover {
    background-color: #f1f1f1;
}
